In [33]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [31]:
  %reload_ext sql
!pip install tabulate

Requirement already satisfied: tabulate in c:\users\user\anaconda3_1\lib\site-packages (0.9.0)

In [4]:
%sql sqlite:///C:/Users/User/Downloads/TMDB-a-4006

In [33]:
import sqlite3
from tabulate import tabulate
# Connect to your SQLite .db file
conn = sqlite3.connect("TMDB-a-4006 (1).db")
cursor = conn.cursor()

# List all tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Print table names
for table in tables:
    print(table[0])

conn.close()

actors
casts
genremap
genres
keywordmap
keywords
languagemap
languages
movies
oscars
productioncompanies
productioncompanymap
productioncountries
productioncountrymap
sysdiagrams

#Question 1: Who won the Oscar for “Actor in a Leading Role” in 2015?

(Hint: The winner is indicated as '1.0'.)

Options:

Micheal Fassbender
Natalie Portman
Leonardo DiCaprio
Eddie Redmayne

In [12]:
import sqlite3
from typing import List, Tuple

def view_table_contents(db_path: str, table_name: str, limit: int = 10) -> List[Tuple]:
   
    try:
        # Connect to the SQLite database
        conn = sqlite3.connect(db_path)
        cursor = conn.cursor()
        
        # Get column names
        cursor.execute(f"PRAGMA table_info({table_name});")
        columns = [column[1] for column in cursor.fetchall()]
        
        # Execute query to retrieve table contents
        cursor.execute(f"SELECT * FROM {table_name} LIMIT {limit};")
        rows = cursor.fetchall()
        
        # Close the connection
        conn.close()
        
        return columns, rows
        
    except sqlite3.Error as e:
        print(f"Database error: {e}")
        if 'conn' in locals() and conn:
            conn.close()
        raise

# View the oscars table
db_path = "TMDB-a-4006 (1).db"
try:
    columns, rows = view_table_contents(db_path, "movies")
    
    # Print column headers
    print(" | ".join(columns))
    print("-" * (sum(len(col) for col in columns) + 3 * (len(columns) - 1)))
    
    # Print rows
    for row in rows:
        print(" | ".join(str(item) for item in row))
        
except Exception as e:
    print(f"Error: {e}")

year | award | winner | name | film
-----------------------------------
1928 | Actor | None | Richard Barthelmess | The Noose
1928 | Actor | 1.0 | Emil Jannings | The Last Command
1928 | Actress | None | Louise Dresser | A Ship Comes In
1928 | Actress | 1.0 | Janet Gaynor | 7th Heaven
1928 | Actress | None | Gloria Swanson | Sadie Thompson
1928 | Art Direction | None | Rochus Gliese | Sunrise
1928 | Art Direction | 1.0 | William Cameron Menzies | The Dove; Tempest
1928 | Art Direction | None | Harry Oliver | 7th Heaven
1928 | Cinematography | None | George Barnes | The Devil Dancer; The Magic Flame; Sadie Thompson
1928 | Cinematography | 1.0 | Charles Rosher | Sunrise

In [35]:
import sqlite3
from typing import List, Tuple, Optional

def view_filtered_table_contents(
    db_path: str, 
    table_name: str, 
    filter_column: str,
    filter_value: any,
    limit: Optional[int] = None
) -> tuple[List[str], List[Tuple]]:
   
    try:
        # Connect to the SQLite database
        conn = sqlite3.connect(db_path)
        cursor = conn.cursor()
        
        # Get column names
        cursor.execute(f"PRAGMA table_info({table_name});")
        columns = [column[1] for column in cursor.fetchall()]
        
        # Execute query to retrieve filtered table contents
        query = f"SELECT * FROM {table_name} WHERE {filter_column} = ?"
        if limit is not None:
            query += f" LIMIT {limit}"
            
        cursor.execute(query, (filter_value,))
        rows = cursor.fetchall()
        
        # Close the connection
        conn.close()
        
        return columns, rows
        
    except sqlite3.Error as e:
        print(f"Database error: {e}")
        if 'conn' in locals() and conn:
            conn.close()
        raise

# View the oscars table filtered for year 2015
db_path = "TMDB-a-4006 (1).db"
try:
    columns, rows = view_filtered_table_contents(
        db_path=db_path,
        table_name="oscars",
        filter_column="year",
        filter_value=2015
    )
    
    # Print column headers
    print(" | ".join(columns))
    print("-" * (sum(len(col) for col in columns) + 3 * (len(columns) - 1)))
    
    # Print rows
    for row in rows:
        print(" | ".join(str(item) for item in row))
        
except Exception as e:
    print(f"Error: {e}")

year | award | winner | name | film
-----------------------------------
2015 | Actor in a Leading Role | None | Bryan Cranston | Trumbo
2015 | Actor in a Leading Role | None | Matt Damon | The Martian
2015 | Actor in a Leading Role | 1.0 | Leonardo DiCaprio | The Revenant
2015 | Actor in a Leading Role | None | Michael Fassbender | Steve Jobs
2015 | Actor in a Leading Role | None | Eddie Redmayne | The Danish Girl
2015 | Actor in a Supporting Role | None | Christian Bale | The Big Short
2015 | Actor in a Supporting Role | None | Tom Hardy | The Revenant
2015 | Actor in a Supporting Role | None | Mark Ruffalo | Spotlight
2015 | Actor in a Supporting Role | 1.0 | Mark Rylance | Bridge of Spies
2015 | Actor in a Supporting Role | None | Sylvester Stallone | Creed
2015 | Actress in a Leading Role | None | Cate Blanchett | Carol
2015 | Actress in a Leading Role | 1.0 | Brie Larson | Room
2015 | Actress in a Leading Role | None | Jennifer Lawrence | Joy
2015 | Actress in a Leading Role | None | Charlotte Rampling | 45 Years
2015 | Actress in a Leading Role | None | Saoirse Ronan | Brooklyn
2015 | Actress in a Supporting Role | None | Jennifer Jason Leigh | The Hateful Eight
2015 | Actress in a Supporting Role | None | Rooney Mara | Carol
2015 | Actress in a Supporting Role | None | Rachel McAdams | Spotlight
2015 | Actress in a Supporting Role | 1.0 | Alicia Vikander | The Danish Girl
2015 | Actress in a Supporting Role | None | Kate Winslet | Steve Jobs
2015 | Animated Feature Film | None | Anomalisa | Charlie Kaufman, Duke Johnson and Rosa Tran
2015 | Animated Feature Film | None | Boy and the World | Al+¬ Abreu
2015 | Animated Feature Film | 1.0 | Inside Out | Pete Docter and Jonas Rivera
2015 | Animated Feature Film | None | Shaun the Sheep Movie | Mark Burton and Richard Starzak
2015 | Animated Feature Film | None | When Marnie Was There | Hiromasa Yonebayashi and Yoshiaki Nishimura
2015 | Cinematography | None | Carol | Ed Lachman
2015 | Cinematography | None | The Hateful Eight | Robert Richardson
2015 | Cinematography | None | Mad Max: Fury Road | John Seale
2015 | Cinematography | None | The Revenant | Emmanuel Lubezki
2015 | Cinematography | None | Sicario | Roger Deakins
2015 | Costume Design | None | Carol | Sandy Powell
2015 | Costume Design | None | Cinderella | Sandy Powell
2015 | Costume Design | None | The Danish Girl | Paco Delgado
2015 | Costume Design | 1.0 | Mad Max: Fury Road | Jenny Beavan
2015 | Costume Design | None | The Revenant | Jacqueline West
2015 | Directing | None | The Big Short | Adam McKay
2015 | Directing | None | Mad Max: Fury Road | George Miller
2015 | Directing | 1.0 | The Revenant | Alejandro G. I+¦+írritu
2015 | Directing | None | Room | Lenny Abrahamson
2015 | Directing | None | Spotlight | Tom McCarthy
2015 | Documentary (Feature) | 1.0 | Amy | Asif Kapadia and James Gay-Rees
2015 | Documentary (Feature) | None | Cartel Land | Matthew Heineman and Tom Yellin
2015 | Documentary (Feature) | None | The Look of Silence | Joshua Oppenheimer and Signe Byrge S++rensen
2015 | Documentary (Feature) | None | What Happened, Miss Simone? | Liz Garbus, Amy Hobby and Justin Wilkes
2015 | Documentary (Feature) | None | Winter on Fire: Ukraine's Fight for Freedom | Evgeny Afineevsky and Den Tolmor
2015 | Documentary (Short Subject) | None | Body Team 12 | David Darg and Bryn Mooser
2015 | Documentary (Short Subject) | None | Chau, Beyond the Lines | Courtney Marsh and Jerry Franck
2015 | Documentary (Short Subject) | None | Claude Lanzmann: Spectres of the Shoah | Adam Benzine
2015 | Documentary (Short Subject) | 1.0 | A Girl in the River: The Price of Forgiveness | Sharmeen Obaid-Chinoy
2015 | Documentary (Short Subject) | None | Last Day of Freedom | Dee Hibbert-Jones and Nomi Talisman
2015 | Film Editing | None | The Big Short | Hank Corwin
2015 | Film Editing | 1.0 | Mad Max: Fury Road | Margaret Sixel
2015 | Film Editing | None | The Revenant | Stephen Mirrione
2015 | Film Editing | None | Spotlight | Tom McArdle
2015 | Film Editing | None | Star Wars: The Force Awakens | Maryann Brandon and Mary Jo Markey
2015 | Foreign Language Film | None | Embrace of the Serpent | Colombia
2015 | Foreign Language Film | None | Mustang | France
2015 | Foreign Language Film | 1.0 | Son of Saul | Hungary
2015 | Foreign Language Film | None | Theeb | Jordan
2015 | Foreign Language Film | None | A War | Denmark
2015 | Makeup and Hairstyling | 1.0 | Mad Max: Fury Road | Lesley Vanderwalt, Elka Wardega and Damian Martin
2015 | Makeup and Hairstyling | None | The 100-Year-Old Man Who Climbed Out the Window and Disappeared | Love Larson and Eva von Bahr
2015 | Makeup and Hairstyling | None | The Revenant | Si+ón Grigg, Duncan Jarman and Robert Pandini
2015 | Music (Original Score) | None | Bridge of Spies | Thomas Newman
2015 | Music (Original Score) | None | Carol | Carter Burwell
2015 | Music (Original Score) | 1.0 | The Hateful Eight | Ennio Morricone
2015 | Music (Original Score) | None | Sicario | J+¦hann J+¦hannsson
2015 | Music (Original Score) | None | Star Wars: The Force Awakens | John Williams
2015 | Music (Original Song) | None | """Earned It"" from Fifty Shades of Grey" | Music and Lyric by The Weeknd, Ahmad Balshe, Jason Quenneville and Stephan Moccio
2015 | Music (Original Song) | None | Manta Ray from Racing Extinction | Music by J. Ralph; Lyric by Anohni
2015 | Music (Original Song) | None | Simple Song #3 from Youth | Music and Lyric by David Lang
2015 | Music (Original Song) | None | """Til It Happens To You"" from The Hunting Ground" | Music and Lyric by Diane Warren and Lady Gaga
2015 | Music (Original Song) | 1.0 | Writing's On The Wall from Spectre | Music and Lyric by Jimmy Napes and Sam Smith
2015 | Best Picture | None | The Big Short | Brad Pitt, Dede Gardner and Jeremy Kleiner, Producers
2015 | Best Picture | None | Bridge of Spies | Steven Spielberg, Marc Platt and Kristie Macosko Krieger, Producers
2015 | Best Picture | None | Brooklyn | Finola Dwyer and Amanda Posey, Producers
2015 | Best Picture | None | Mad Max: Fury Road | Doug Mitchell and George Miller, Producers
2015 | Best Picture | None | The Martian | Simon Kinberg, Ridley Scott, Michael Schaefer and Mark Huffam, Producers
2015 | Best Picture | None | The Revenant | Arnon Milchan, Steve Golin, Alejandro G. I+¦+írritu, Mary Parent and Keith Redmon, Producers
2015 | Best Picture | None | Room | Ed Guiney, Producer
2015 | Best Picture | 1.0 | Spotlight | Michael Sugar, Steve Golin, Nicole Rocklin and Blye Pagon Faust, Producers
2015 | Production Design | None | Bridge of Spies | Production Design: Adam Stockhausen; Set Decoration: Rena DeAngelo and Bernhard Henrich
2015 | Production Design | None | The Danish Girl | Production Design: Eve Stewart; Set Decoration: Michael Standish
2015 | Production Design | 1.0 | Mad Max: Fury Road | Production Design: Colin Gibson; Set Decoration: Lisa Thompson
2015 | Production Design | None | The Martian | Production Design: Arthur Max; Set Decoration: Celia Bobak
2015 | Production Design | None | The Revenant | Production Design: Jack Fisk; Set Decoration: Hamish Purdy
2015 | Short Film (Animated) | 1.0 | Bear Story | Gabriel Osorio and Pato Escala
2015 | Short Film (Animated) | None | Prologue | Richard Williams and Imogen Sutton
2015 | Short Film (Animated) | None | Sanjay's Super Team | Sanjay Patel and Nicole Grindle
2015 | Short Film (Animated) | None | We Can't Live without Cosmos | Konstantin Bronzit
2015 | Short Film (Animated) | None | World of Tomorrow | Don Hertzfeldt
2015 | Short Film (Live Action) | None | Ave Maria | Basil Khalil and Eric Dupont
2015 | Short Film (Live Action) | None | Day One | Henry Hughes
2015 | Short Film (Live Action) | None | Everything Will Be Okay (Alles Wird Gut) | Patrick Vollrath
2015 | Short Film (Live Action) | None | Shok | Jamie Donoughue
2015 | Short Film (Live Action) | 1.0 | Stutterer | Benjamin Cleary and Serena Armitage
2015 | Sound Editing | 1.0 | Mad Max: Fury Road | Mark Mangini and David White
2015 | Sound Editing | None | The Martian | Oliver Tarney
2015 | Sound Editing | None | The Revenant | Martin Hernandez and Lon Bender
2015 | Sound Editing | None | Sicario | Alan Robert Murray
2015 | Sound Editing | None | Star Wars: The Force Awakens | Matthew Wood and David Acord
2015 | Sound Mixing | None | Bridge of Spies | Andy Nelson, Gary Rydstrom and Drew Kunin
2015 | Sound Mixing | 1.0 | Mad Max: Fury Road | Chris Jenkins, Gregg Rudloff and Ben Osmo
2015 | Sound Mixing | None | The Martian | Paul Massey, Mark Taylor and Mac Ruth
2015 | Sound Mixing | None | The Revenant | Jon Taylor, Frank A. Monta+¦o, Randy Thom and Chris Duesterdiek
2015 | Sound Mixing | None | Star Wars: The Force Awakens | Andy Nelson, Christopher Scarabosio and Stuart Wilson
2015 | Visual Effects | 1.0 | Ex Machina | Andrew Whitehurst, Paul Norris, Mark Ardington and Sara Bennett
2015 | Visual Effects | None | Mad Max: Fury Road | Andrew Jackson, Tom Wood, Dan Oliver and Andy Williams
2015 | Visual Effects | None | The Martian | Richard Stammers, Anders Langlands, Chris Lawrence and Steven Warner
2015 | Visual Effects | None | The Revenant | Rich McBride, Matthew Shumway, Jason Smith and Cameron Waldbauer
2015 | Visual Effects | None | Star Wars: The Force Awakens | Roger Guyett, Patrick Tubach, Neal Scanlan and Chris Corbould
2015 | Writing (Adapted Screenplay) | 1.0 | The Big Short | Screenplay by Charles Randolph and Adam McKay
2015 | Writing (Adapted Screenplay) | None | Brooklyn | Screenplay by Nick Hornby
2015 | Writing (Adapted Screenplay) | None | Carol | Screenplay by Phyllis Nagy
2015 | Writing (Adapted Screenplay) | None | The Martian | Screenplay by Drew Goddard
2015 | Writing (Adapted Screenplay) | None | Room | Screenplay by Emma Donoghue
2015 | Writing (Original Screenplay) | None | Bridge of Spies | Written by Matt Charman and Ethan Coen & Joel Coen
2015 | Writing (Original Screenplay) | None | Ex Machina | Written by Alex Garland
2015 | Writing (Original Screenplay) | None | Inside Out | Screenplay by Pete Docter, Meg LeFauve, Josh Cooley; Original Story by Pete Docter, Ronnie del Carmen
2015 | Writing (Original Screenplay) | 1.0 | Spotlight | Written by Josh Singer & Tom McCarthy
2015 | Writing (Original Screenplay) | None | Straight Outta Compton | Screenplay by Jonathan Herman and Andrea Berloff; Story by S. Leigh Savidge & Alan Wenkus and Andrea Berloff
2015 | Jean Hersholt Humanitarian Award | 1.0 | Debbie Reynolds | None
2015 | Honorary Award | 1.0 | Spike Lee | None
2015 | Honorary Award | 1.0 | Gena Rowlands | None

The actor in a leading role who won an Oscar is Leonardo di Caprio in The Revenant

In [25]:
import sqlite3

# Connect to your SQLite .db file
conn = sqlite3.connect("TMDB-a-4006 (1).db")
cursor = conn.cursor()

# List all tables
cursor.execute("SELECT * FROM movies")
tables = cursor.fetchall()

# Print table names
for table in tables:
    print(table[0])

conn.close()

5
11
12
13
14
16
18
19
20
22
24
25
28
33
35
38
55
58
59
62
65
66
68
69
70
71
73
74
75
76
77
78
79
80
83
85
87
89
90
95
96
98
100
103
104
105
106
107
111
114
115
116
117
118
120
121
122
128
129
134
137
141
142
146
149
152
153
154
155
157
161
162
163
165
167
168
169
170
172
173
174
176
177
179
180
182
184
186
187
189
193
194
196
197
199
200
201
203
205
207
214
215
217
218
219
223
226
227
231
235
238
239
240
242
243
245
248
251
252
253
254
257
261
268
272
274
277
278
279
280
284
285
288
289
291
292
296
297
298
302
306
309
310
311
314
319
320
321
322
326
327
329
330
331
332
334
335
338
342
345
346
348
350
364
377
380
387
388
389
391
392
393
395
398
400
401
403
404
408
409
411
414
415
421
423
424
425
429
431
433
435
436
440
451
453
454
455
462
464
468
470
473
479
480
489
492
496
497
500
503
504
507
508
509
510
512
522
524
525
526
533
534
535
539
540
542
544
546
547
549
550
557
558
559
562
563
568
573
576
577
578
579
580
581
582
584
585
586
587
588
590
591
592
593
594
595
597
598
601
602
603
604
605
606
607
608
609
612
613
615
616
617
619
621
622
627
628
629
630
634
639
640
641
642
644
646
650
652
654
657
658
660
663
664
666
667
668
670
671
672
673
674
675
676
679
680
681
682
686
687
688
691
692
693
694
698
699
700
702
703
704
707
708
709
710
711
712
713
714
744
745
746
747
752
754
755
756
762
764
765
766
767
768
769
770
771
772
773
782
783
786
787
788
790
792
794
795
796
801
802
805
807
808
809
810
811
812
813
816
817
818
819
820
821
824
826
834
837
838
840
841
844
846
848
849
850
853
854
855
857
859
860
861
862
863
864
865
866
868
869
872
873
874
879
881
887
888
889
905
907
913
920
921
924
925
926
927
928
935
943
944
947
948
950
951
953
954
955
956
957
978
979
985
987
990
1018
1024
1051
1073
1088
1090
1091
1103
1116
1123
1124
1125
1164
1165
1213
1245
1246
1248
1250
1251
1255
1257
1259
1262
1265
1266
1268
1271
1272
1273
1282
1359
1360
1365
1366
1368
1369
1370
1372
1378
1381
1382
1389
1391
1402
1408
1412
1415
1417
1422
1424
1427
1428
1429
1430
1435
1439
1440
1443
1452
1487
1491
1493
1494
1495
1497
1499
1523
1535
1537
1538
1542
1544
1546
1547
1548
1550
1551
1555
1562
1571
1572
1573
1574
1576
1577
1578
1579
1581
1584
1585
1586
1587
1588
1590
1591
1593
1597
1598
1599
1613
1619
1620
1621
1624
1635
1636
1637
1639
1640
1642
1645
1646
1648
1649
1651
1656
1667
1669
1677
1683
1685
1687
1688
1690
1691
1696
1698
1701
1705
1710
1717
1722
1724
1725
1726
1729
1734
1735
1770
1771
1777
1779
1781
1788
1792
1808
1809
1813
1817
1819
1824
1830
1831
1832
1833
1844
1850
1852
1858
1865
1874
1878
1880
1883
1885
1887
1891
1892
1893
1894
1895
1900
1901
1903
1904
1907
1909
1911
1913
1921
1924
1927
1930
1931
1933
1934
1946
1947
1948
1949
1950
1951
1954
1955
1956
1957
1958
1961
1966
1969
1970
1975
1979
1985
1988
1989
1995
1996
1997
1999
2001
2008
2009
2011
2013
2018
2022
2023
2024
2026
2034
2043
2044
2048
2054
2055
2056
2057
2059
2062
2067
2069
2074
2080
2084
2085
2088
2100
2105
2110
2112
2114
2116
2118
2119
2122
2123
2133
2135
2140
2142
2148
2155
2157
2162
2163
2176
2185
2196
2207
2211
2251
2252
2253
2255
2266
2268
2270
2275
2277
2280
2287
2288
2289
2290
2292
2293
2294
2295
2300
2309
2310
2312
2320
2355
2359
2370
2395
2428
2447
2453
2454
2486
2493
2501
2502
2503
2539
2567
2575
2577
2604
2610
2619
2621
2636
2637
2639
2642
2649
2652
2655
2661
2662
2666
2667
2669
2675
2687
2698
2749
2752
2755
2756
2757
2770
2771
2779
2786
2787
2789
2830
2832
2841
2895
2898
2900
2907
2925
2959
2976
2977
2989
3021
3028
3033
3034
3040
3049
3050
3059
3060
3062
3078
3080
3082
3083
3089
3093
3116
3131
3132
3170
3172
3175
3179
3291
3472
3482
3489
3509
3512
3536
3558
3580
3587
3594
3595
3597
3600
3604
3635
3638
3682
3683
3766
3877
3902
3933
3981
3989
4011
4012
4032
4105
4107
4108
4133
4147
4148
4170
4174
4232
4233
4234
4244
4248
4251
4256
4257
4258
4327
4347
4348
4349
4379
4380
4421
4442
4464
4474
4476
4477
4512
4513
4515
4517
4518
4523
4547
4550
4551
4553
4566
4584
4597
4599
4614
4638
4657
4688
4723
4806
4816
4824
4836
4858
4911
4912
4922
4929
4935
4942
4944
4951
4953
4958
4959
4960
4964
4965
4967
4970
4982
4995
4997
5038
5072
5123
5125
5126
5137
5172
5174
5175
5176
5178
5236
5255
5279
5353
5393
5491
5494
5503
5516
5528
5550
5551
5559
5689
5708
5722
5723
5759
5769
5780
5820
5822
5852
5854
5876
5900
5902
5915
5925
5955
5966
5971
5994
6007
6016
6020
6023
6038
6068
6071
6073
6106
6114
6116
6171
6217
6278
6282
6415
6435
6439
6440
6466
6477
6478
6479
6488
6519
6520
6521
6537
6538
6552
6557
6575
6615
6623
6639
6687
6795
6877
6933
6947
6950
6957
6961
6963
6964
6968
6972
6973
6977
6978
7006
7191
7214
7220
7278
7288
7299
7301
7303
7304
7305
7326
7341
7345
7347
7350
7364
7443
7445
7446
7450
7451
7453
7459
7461
7484
7485
7501
7504
7509
7510
7512
7515
7516
7518
7547
7548
7552
7553
7735
7737
7859
7863
7870
7873
7874
7913
7942
7944
7973
7978
7979
7980
8007
8009
8011
8012
8046
8051
8053
8054
8055
8060
8065
8068
8069
8077
8078
8080
8090
8095
8141
8193
8195
8197
8198
8202
8204
8224
8247
8265
8271
8272
8273
8285
8291
8292
8293
8321
8326
8328
8329
8337
8338
8346
8355
8357
8358
8359
8363
8367
8373
8374
8386
8390
8408
8409
8413
8416
8427
8435
8452
8456
8457
8461
8467
8469
8470
8487
8488
8489
8536
8545
8584
8587
8592
8617
8618
8619
8643
8645
8649
8656
8665
8669
8675
8676
8681
8688
8698
8699
8741
8744
8780
8810
8814
8818
8831
8834
8835
8836
8838
8839
8840
8841
8842
8843
8847
8848
8849
8850
8854
8859
8869
8870
8871
8872
8874
8875
8879
8883
8885
8909
8913
8914
8916
8920
8922
8942
8944
8952
8953
8960
8961
8963
8966
8967
8968
8970
8975
8976
8978
8981
8982
8984
8987
8988
8998
8999
9003
9007
9008
9009
9012
9013
9016
9021
9022
9023
9026
9027
9029
9030
9032
9034
9035
9036
9042
9043
9045
9053
9059
9067
9072
9074
9075
9087
9089
9092
9093
9095
9096
9099
9100
9104
9208
9257
9260
9266
9268
9271
9273
9275
9276
9277
9279
9280
9281
9282
9285
9286
9288
9289
9290
9291
9292
9294
9297
9302
9303
9304
9306
9310
9311
9312
9313
9315
9327
9331
9334
9335
9336
9339
9341
9342
9344
9348
9350
9352
9353
9355
9357
9358
9360
9361
9362
9366
9367
9372
9374
9378
9381
9383
9384
9387
9388
9389
9390
9392
9396
9398
9400
9408
9414
9416
9422
9424
9425
9427
9428
9429
9430
9433
9434
9437
9440
9441
9443
9444
9447
9448
9449
9451
9452
9454
9455
9457
9459
9464
9466
9469
9470
9471
9472
9473
9476
9481
9486
9487
9488
9489
9490
9493
9495
9502
9504
9509
9513
9515
9516
9517
9526
9531
9532
9533
9535
9541
9543
9544
9548
9549
9550
9552
9555
9557
9562
9563
9566
9567
9570
9571
9573
9574
9576
9582
9583
9587
9588
9591
9593
9594
9598
9600
9603
9607
9610
9613
9614
9615
9616
9618
9619
9620
9621
9623
9624
9625
9626
9631
9637
9641
9644
9645
9647
9654
9655
9656
9659
9662
9664
9665
9667
9671
9672
9675
9676
9678
9679
9682
9683
9685
9686
9689
9691
9693
9697
9700
9701
9702
9703
9705
9707
9709
9713
9715
9716
9718
9725
9726
9728
9729
9730
9731
9737
9741
9746
9754
9759
9760
9762
9763
9766
9767
9770
9772
9776
9778
9779
9781
9782
9783
9787
9792
9793
9794
9798
9799
9800
9801
9802
9804
9806
9809
9813
9816
9819
9821
9822
9823
9824
9825
9826
9829
9833
9836
9837
9839
9842
9849
9869
9870
9877
9879
9880
9882
9884
9889
9890
9893
9894
9895
9896
9899
9900
9902
9903
9906
9907
9912
9913
9916
9918
9919
9920
9922
9923
9928
9930
9932
9942
9944
9945
9946
9947
9950
9952
9954
9955
9957
9962
9963
9969
9975
9978
9981
9982
9986
9988
9989
9991
9992
10003
10008
10012
10013
10014
10016
10017
10022
10024
10025
10027
10028
10029
10030
10034
10040
10045
10047
10048
10050
10052
10053
10054
10060
10061
10065
10066
10067
10068
10069
10070
10071
10072
10073
10074
10075
10077
10090
10092
10096
10105
10115
10117
10131
10132
10133
10135
10136
10137
10138
10139
10140
10147
10152
10153
10154
10156
10159
10160
10162
10163
10167
10179
10183
10184
10185
10186
10187
10188
10189
10191
10192
10193
10195
10196
10197
10198
10199
10200
10201
10202
10204
10207
10208
10212
10214
10215
10217
10218
10219
10220
10223
10225
10226
10229
10238
10246
10253
10269
10279
10280
10281
10283
10285
10288
10306
10307
10312
10313
10314
10315
10316
10317
10320
10327
10329
10330
10331
10333
10336
10339
10350
10353
10357
10358
10362
10364
10366
10368
10375
10377
10383
10384
10385
10386
10388
10390
10391
10393
10395
10397
10398
10400
10402
10410
10413
10414
10416
10425
10426
10428
10431
10436
10437
10439
10445
10448
10461
10468
10471
10472
10476
10477
10478
10480
10481
10483
10488
10490
10496
10501
10514
10521
10523
10527
10528
10530
10533
10534
10535
10537
10545
10549
10550
10555
10557
10559
10560
10563
10564
10567
10569
10571
10577
10585
10586
10588
10589
10590
10591
10592
10603
10610
10611
10615
10622
10623
10625
10628
10629
10632
10634
10637
10641
10642
10643
10646
10647
10655
10656
10658
10661
10663
10664
10673
10674
10676
10678
10681
10683
10684
10685
10691
10696
10705
10707
10708
10710
10712
10715
10718
10719
10724
10727
10731
10733
10734
10735
10739
10740
10741
10743
10744
10748
10756
10758
10760
10761
10762
10764
10765
10771
10773
10774
10776
10781
10782
10783
10786
10796
10800
10802
10803
10806
10808
10822
10833
10844
10858
10861
10865
10866
10871
10873
10876
10877
10878
10885
10890
10894
10895
10913
10914
10923
10925
10929
10930
10934
10935
10944
10947
10950
10955
10956
10970
10972
10981
10982
10984
10985
10987
10991
10992
10994
10996
10998
10999
11001
11004
11007
11011
11013
11015
11022
11023
11024
11025
11026
11027
11033
11036
11042
11051
11056
11058
11062
11065
11066
11072
11086
11090
11091
11093
11096
11109
11113
11128
11129
11130
11132
11137
11141
11152
11153
11156
11162
11165
11170
11172
11176
11184
11186
11190
11191
11194
11199
11202
11208
11212
11217
11219
11228
11229
11232
11237
11240
11247
11249
11253
11257
11258
11260
11282
11283
11284
11287
11298
11302
11306
11308
11313
11321
11322
11323
11324
11336
11342
11351
11353
11354
11357
11358
11359
11361
11362
11363
11370
11371
11374
11375
11377
11382
11386
11395
11397
11398
11400
11404
11411
11412
11426
11431
11439
11442
11446
11451
11452
11453
11456
11457
11458
11459
11460
11467
11468
11469
11470
11478
11495
11499
11507
11509
11516
11517
11519
11529
11531
11535
11536
11543
11544
11545
11546
11551
11560
11561
11564
11565
11576
11577
11583
11586
11588
11592
11596
11598
11600
11601
11615
11618
11619
11620
11622
11624
11631
11632
11635
11637
11638
11644
11648
11658
11661
11665
11667
11676
11678
11679
11683
11687
11688
11690
11692
11697
11699
11702
11770
11775
11778
11780
11798
11802
11804
11812
11817
11818
11820
11823
11826
11827
11831
11835
11836
11843
11858
11863
11866
11870
11873
11876
11887
11888
11889
11891
11892
11901
11904
11908
11917
11918
11932
11934
11935
11954
11956
11959
11967
11968
11969
11971
11973
11975
11977
11978
11979
11980
11983
12079
12085
12088
12090
12093
12094
12096
12100
12103
12106
12107
12109
12113
12117
12120
12123
12133
12138
12142
12144
12149
12150
12153
12154
12155
12158
12159
12160
12162
12163
12177
12182
12183
12184
12192
12193
12201
12207
12211
12212
12220
12227
12228
12244
12245
12246
12247
12257
12271
12277
12279
12281
12289
12312
12400
12403
12404
12405
12410
12412
12429
12437
12454
12479
12484
12486
12498
12506
12508
12509
12535
12555
12569
12573
12586
12589
12596
12602
12610
12612
12618
12620
12621
12634
12637
12657
12658
12690
12703
12704
12763
12770
12771
12779
12783
12797
12819
12837
12838
12877
12901
12920
13001
13006
13007
13025
13027
13051
13053
13056
13064
13066
13067
13072
13074
13075
13079
13090
13092
13121
13132
13150
13154
13155
13156
13158
13159
13160
13166
13173
13183
13184
13187
13191
13193
13197
13198
13201
13223
13250
13260
13279
13282
13335
13342
13362
13363
13370
13374
13389
13403
13405
13408
13411
13429
13435
13448
13460
13475
13476
13483
13490
13491
13495
13496
13497
13498
13501
13503
13508
13510
13515
13516
13518
13523
13536
13537
13538
13539
13551
13569
13576
13579
13596
13600
13649
13673
13680
13682
13685
13688
13689
13700
13751
13768
13776
13778
13785
13788
13805
13807
13809
13811
13812
13816
13820
13824
13827
13836
13849
13853
13856
13888
13889
13898
13908
13909
13919
13920
13922
13937
13938
13948
13950
13960
13963
13967
13972
13973
13982
13983
13990
13991
13994
13996
14012
14014
14022
14024
14033
14034
14043
14047
14048
14054
14057
14112
14113
14114
14120
14137
14139
14144
14156
14160
14161
14164
14165
14175
14177
14181
14191
14195
14199
14202
14220
14256
14271
14275
14278
14283
14284
14290
14292
14293
14295
14299
14306
14317
14324
14325
14337
14351
14353
14358
14359
14369
14392
14395
14396
14405
14411
14425
14429
14434
14435
14438
14442
14444
14451
14462
14474
14517
14536
14538
14544
14557
14560
14574
14576
14577
14578
14582
14585
14608
14623
14624
14629
14631
14635
14652
14655
14662
14709
14729
14736
14745
14757
14758
14778
14799
14811
14823
14834
14836
14844
14846
14849
14854
14869
14873
14877
14902
14914
14976
15005
15013
15017
15028
15037
15045
15049
15059
15067
15070
15074
15092
15121
15122
15158
15173
15186
15189
15198
15208
15237
15239
15250
15256
15268
15301
15365
15373
15389
15394
15487
15489
15511
15512
15544
15556
15568
15581
15582
15624
15639
15644
15647
15648
15655
15660
15670
15673
15699
15708
15745
15765
15797
15800
15875
15907
15927
15976
15983
15992
16005
16016
16028
16052
16072
16096
16110
16112
16148
16155
16158
16161
16162
16172
16186
16205
16222
16232
16241
16281
16288
16290
16300
16320
16323
16337
16340
16351
16353
16358
16363
16388
16406
16428
16433
16441
16448
16471
16508
16523
16538
16558
16564
16577
16608
16614
16617
16619
16620
16633
16642
16643
16651
16653
16690
16727
16769
16781
16784
16857
16858
16866
16869
16871
16888
16899
16911
16988
16991
16995
16996
17043
17044
17047
17113
17127
17130
17134
17139
17170
17182
17186
17187
17202
17264
17277
17287
17332
17334
17339
17345
17379
17403
17431
17436
17577
17578
17610
17622
17644
17654
17663
17707
17708
17709
17710
17711
17734
17768
17795
17813
17820
17834
17880
17908
17917
17926
17979
17994
17995
18041
18045
18065
18074
18079
18126
18147
18162
18191
18206
18238
18239
18240
18254
18276
18292
18320
18357
18360
18405
18442
18475
18480
18487
18501
18516
18530
18533
18550
18570
18602
18615
18616
18632
18681
18701
18712
18713
18734
18736
18777
18785
18808
18823
18828
18840
18841
18869
18885
18886
18892
18900
18923
18925
18937
18947
18975
19052
19084
19150
19153
19187
19204
19255
19265
19316
19344
19366
19405
19419
19457
19489
19495
19556
19585
19615
19644
19724
19803
19840
19844
19848
19898
19899
19901
19904
19905
19908
19912
19913
19933
19959
19994
19995
19997
20009
20024
20055
20065
20083
20156
20178
20296
20309
20322
20337
20352
20360
20391
20406
20455
20468
20483
20504
20520
20526
20533
20542
20616
20653
20662
20694
20697
20737
20761
20763
20764
20766
20770
20794
20829
20856
20857
20862
20943
20981
21014
21074
21208
21283
21301
21309
21311
21334
21338
21345
21349
21355
21413
21461
21494
21512
21525
21610
21612
21641
21724
21755
21765
21801
21972
22007
22013
22051
22074
22102
22215
22256
22267
22301
22314
22327
22345
22479
22488
22530
22538
22556
22597
22600
22617
22649
22787
22794
22796
22798
22803
22804
22805
22820
22821
22824
22825
22832
22881
22894
22897
22907
22908
22913
22947
22949
22954
22970
22971
22972
23048
23049
23069
23082
23168
23169
23172
23330
23367
23398
23479
23483
23531
23570
23618
23629
23631
23655
23685
23706
23730
23742
23759
23827
23963
23988
24021
24034
24055
24066
24071
24100
24113
24126
24137
24150
24206
24226
24227
24264
24266
24356
24363
24418
24420
24424
24428
24432
24438
24469
24575
24621
24662
24663
24664
24684
24746
24747
24748
24803
24869
24913
24940
24961
24973
24977
24985
25066
25113
25132
25166
25186
25189
25195
25196
25208
25209
25212
25248
25312
25350
25353
25376
25379
25388
25428
25461
25462
25520
25636
25643
25678
25704
25719
25763
25769
25784
25786
25793
25941
25968
25975
25983
26022
26039
26171
26268
26306
26320
26352
26367
26371
26379
26388
26389
26390
26428
26466
26486
26518
26602
26618
26665
26672
26673
26688
26710
26748
26791
26815
26837
26843
26899
26916
26963
27004
27022
27023
27029
27191
27205
27322
27329
27342
27360
27374
27380
27404
27420
27451
27455
27549
27551
27569
27573
27576
27578
27579
27581
27582
27585
27586
27588
27686
27723
27759
27845
27936
27983
27995
28005
28029
28053
28089
28121
28165
28178
28211
28260
28353
28355
28580
28665
28666
28902
28932
29015
29064
29076
29078
29122
29146
29193
29262
29339
29371
29406
29426
29427
29461
29463
29514
29595
29697
29715
29731
29912
29917
29920
29963
29996
30082
30128
30139
30141
30246
30309
30315
30379
30497
30596
30867
30890
30943
30973
30979
31005
31007
31064
31117
31163
31166
31174
31175
31203
31246
31306
31535
31582
31640
31668
31867
31908
31909
31915
31932
32222
32235
32274
32275
32316
32395
32456
32579
32657
32740
32823
32856
33106
33155
33157
33196
33217
33430
33468
33511
33542
33644
33667
33676
33693
33870
33909
34016
34043
34069
34086
34099
34101
34106
34152
34314
34335
34341
34417
34549
34563
34584
34592
34647
34653
34697
34723
34769
34806
34813
34851
34941
35019
35032
35056
35073
35169
35199
35219
35688
35689
35690
35691
35696
35791
35944
36046
36047
36095
36334
36351
36355
36419
36549
36557
36584
36586
36593
36597
36643
36647
36648
36657
36658
36668
36669
36670
36691
36696
36739
36811
36819
36825
36955
36970
37003
37028
37056
37080
37137
37165
37206
37232
37233
37414
37495
37498
37532
37686
37694
37707
37710
37718
37724
37735
37737
37786
37799
37821
37834
37842
37903
37931
37950
37958
37964
37985
38007
38031
38033
38050
38055
38073
38093
38117
38153
38167
38223
38303
38317
38319
38321
38322
38356
38357
38358
38363
38365
38415
38428
38448
38541
38543
38570
38579
38665
38717
38745
38757
38778
38780
38786
38810
38843
38940
38970
38985
39013
39037
39053
39055
39141
39180
39183
39209
39210
39254
39269
39303
39349
39437
39451
39486
39513
39514
39538
39541
39563
39691
39780
39781
39800
39806
39833
39845
39851
39895
39939
40001
40160
40185
40247
40264
40428
40494
40505
40652
40658
40688
40769
40794
40805
40807
40862
40880
40914
40920
40932
40963
41009
41110
41144
41154
41210
41216
41233
41248
41283
41317
41382
41402
41436
41439
41446
41469
41479
41488
41508
41513
41515
41630
41730
41733
41823
41830
41894
42033
42057
42109
42151
42188
42222
42297
42345
42497
42586
42618
42684
42807
42819
42888
42889
43074
43090
43213
43266
43306
43347
43418
43434
43539
43546
43593
43595
43610
43630
43653
43743
43839
43867
43884
43923
43931
43933
43935
43942
43947
43949
43959
44009
44040
44048
44092
44113
44115
44147
44214
44260
44264
44413
44490
44555
44562
44564
44594
44603
44634
44638
44639
44718
44754
44770
44826
44833
44835
44853
44857
44865
44896
44912
44943
44944
44945
44990
45054
45132
45138
45145
45153
45226
45243
45269
45272
45317
45324
45380
45610
45612
45649
45650
45658
45767
45791
45881
45958
46138
46146
46195
46252
46256
46261
46332
46415
46420
46435
46503
46528
46529
46705
46727
46729
46738
46829
46838
46849
46889
46989
47088
47327
47452
47502
47534
47546
47607
47686
47692
47816
47889
47890
47933
47941
47964
48034
48035
48138
48171
48217
48231
48289
48309
48340
48382
48463
48572
48620
48988
49010
49013
49017
49018
49020
49021
49022
49026
49040
49047
49049
49051
49081
49365
49444
49471
49478
49517
49519
49520
49521
49524
49526
49527
49529
49530
49538
49730
49787
49852
49948
49950
49951
49953
49963
50014
50035
50037
50135
50321
50348
50357
50359
50456
50497
50538
50544
50546
50601
50620
50646
50647
50698
50725
50780
50837
50839
50848
50875
50942
51052
51130
51162
51384
51497
51540
51588
51820
51828
51942
51955
51995
52010
52015
52032
52067
52449
52451
52462
52520
52790
53113
53182
53256
53457
53502
53862
53953
54054
54138
54518
54580
54702
54897
55123
55180
55301
55306
55347
55420
55465
55561
55567
55604
55616
55720
55721
55779
55787
55831
55903
56288
56292
56491
56601
56666
56715
56930
57022
57089
57119
57120
57157
57158
57165
57201
57212
57214
57294
57431
57612
57800
57825
57876
57943
58048
58051
58151
58224
58233
58428
58431
58492
58574
58595
58626
58680
58882
59108
59436
59440
59457
59678
59728
59859
59860
59861
59917
59930
59961
59962
59965
59967
59968
59981
60243
60304
60307
60308
60309
60400
60420
60421
60422
60463
60599
61012
61038
61337
61752
61791
61891
61984
62008
62116
62177
62204
62206
62211
62213
62214
62215
62255
62402
62630
62676
62677
62728
62764
62835
62837
62838
63006
63020
63287
63492
63574
64328
64499
64559
64639
64678

In [51]:
import sqlite3
import pandas as pd

def get_table_structure(db_path: str, table_name: str):
    """
    Get the structure of a table in a SQLite database.
    
    Parameters:
    db_path (str): Path to the SQLite database file
    table_name (str): Name of the table to examine
    
    Returns:
    pandas.DataFrame: DataFrame containing the table structure information
    """
    try:
        # Connect to the SQLite database
        conn = sqlite3.connect(db_path)
        
        # Use pandas to read the PRAGMA table_info command results
        query = f"PRAGMA table_info({table_name});"
        df = pd.read_sql_query(query, conn)
        
        # Close the connection
        conn.close()
        
        # Rename columns for better readability
        column_mapping = {
            'cid': 'Column ID',
            'name': 'Column Name',
            'type': 'Data Type',
            'notnull': 'Not Null',
            'dflt_value': 'Default Value',
            'pk': 'Primary Key'
        }
        df = df.rename(columns=column_mapping)
        
        return df
        
    except sqlite3.Error as e:
        print(f"Database error: {e}")
        if 'conn' in locals() and conn:
            conn.close()
        raise

# Example usage
db_path = "TMDB-a-4006 (1).db"
try:
    # Get the structure of the movies table
    table_name = "genres"
    table_structure = get_table_structure(db_path, table_name)
    
    # Display the table structure
    print(f"Structure of table '{table_name}':")
    display(table_structure)  # In Jupyter notebooks
    
    # If you're not in a Jupyter notebook, use:
    # print(f"Structure of table '{table_name}':")
    # print(table_structure)
    
except Exception as e:
    print(f"Error: {e}")

Structure of table 'genres':

   Column ID Column Name    Data Type  Not Null Default Value  Primary Key
0          0    genre_id      INTEGER         1          None            1
1          1  genre_name  varchar(50)         0          NULL            0

In [29]:
import sqlite3
import pandas as pd

def view_table_contents(db_path: str, table_name: str, limit: int = 10):
    try:
        # Connect to the SQLite database
        conn = sqlite3.connect(db_path)
        
        # Use pandas to read SQL query directly into a DataFrame
        query = f"SELECT * FROM {table_name} LIMIT {limit};"
        df = pd.read_sql_query(query, conn)
        
        # Close the connection
        conn.close()
        
        return df
        
    except sqlite3.Error as e:
        print(f"Database error: {e}")
        if 'conn' in locals() and conn:
            conn.close()
        raise

# View the movies table
db_path = "TMDB-a-4006 (1).db"
try:
    df = view_table_contents(db_path, "movies")
    display(df)  # In Jupyter notebooks
    # Or print(df) for regular Python scripts
    
except Exception as e:
    print(f"Error: {e}")

,movie_id,title,release_date,budget,homepage,original_language,original_title,overview,popularity,revenue,runtime,release_status,tagline,vote_average,vote_count
0,5,Four Rooms,1995-12-09 00:00:00.000000,4000000,None,en,Four Rooms,It's Ted the Bellhop's first night on the job....,22.876230,4300000.0,98.0,Released,Twelve outrageous guests. Four scandalous requ...,6.5,530
1,11,Star Wars,1977-05-25 00:00:00.000000,11000000,http://www.starwars.com/films/star-wars-episod...,en,Star Wars,Princess Leia is captured and held hostage by ...,126.393695,775398007.0,121.0,Released,"A long time ago in a galaxy far, far away...",8.1,6624
2,12,Finding Nemo,2003-05-30 00:00:00.000000,94000000,http://movies.disney.com/finding-nemo,en,Finding Nemo,"Nemo, an adventurous young clownfish, is unexp...",85.688789,940335536.0,100.0,Released,"There are 3.7 trillion fish in the ocean, they...",7.6,6122
3,13,Forrest Gump,1994-07-06 00:00:00.000000,55000000,None,en,Forrest Gump,A man with a low IQ has accomplished great thi...,138.133331,677945399.0,142.0,Released,"The world will never be the same, once you've ...",8.2,7927
4,14,American Beauty,1999-09-15 00:00:00.000000,15000000,http://www.dreamworks.com/ab/,en,American Beauty,"Lester Burnham, a depressed suburban father in...",80.878605,356296601.0,122.0,Released,Look closer.,7.9,3313
5,16,Dancer in the Dark,2000-05-17 00:00:00.000000,12800000,None,en,Dancer in the Dark,"Selma, a Czech immigrant on the verge of blind...",22.022228,40031879.0,140.0,Released,You don't need eyes to see.,7.6,377
6,18,The Fifth Element,1997-05-07 00:00:00.000000,90000000,None,en,The Fifth Element,"In 2257, a taxi driver is unintentionally give...",109.528572,263920180.0,126.0,Released,There is no future without it.,7.3,3885
7,19,Metropolis,1927-01-10 00:00:00.000000,92620000,None,de,Metropolis,In a futuristic city sharply divided between t...,32.351527,650422.0,153.0,Released,There can be no understanding between the hand...,8.0,657
8,20,My Life Without Me,2003-03-07 00:00:00.000000,0,http://www.clubcultura.com/clubcine/clubcineas...,en,My Life Without Me,A Pedro Almodovar production in which a fatall...,7.958831,9726954.0,106.0,Released,None,7.2,77
9,22,Pirates of the Caribbean: The Curse of the Bla...,2003-07-09 00:00:00.000000,140000000,http://disney.go.com/disneyvideos/liveaction/p...,en,Pirates of the Caribbean: The Curse of the Bla...,"Jack Sparrow, a freewheeling 17th-century pira...",271.972889,655011224.0,143.0,Released,Prepare to be blown out of the water.,7.5,6985

In [37]:
#Question 3 How many unique awards are there in the Oscars table?

import sqlite3
import pandas as pd

def get_unique_values(db_path: str, table_name: str, column_name: str):
    try:
        # Connect to the SQLite database
        conn = sqlite3.connect(db_path)
        
        # Use pandas to read SQL query directly into a DataFrame
        query = f"""
        SELECT DISTINCT {column_name}, COUNT(*) as count
        FROM {table_name}
        GROUP BY {column_name}
        ORDER BY count DESC
        """
        df = pd.read_sql_query(query, conn)
        
        # Close the connection
        conn.close()
        
        return df
        
    except sqlite3.Error as e:
        print(f"Database error: {e}")
        if 'conn' in locals() and conn:
            conn.close()
        raise

# Get unique awards from the oscars table
db_path = "TMDB-a-4006 (1).db"
try:
    # Get unique awards and their counts
    awards_df = get_unique_values(db_path, "oscars", "award")
    
    # Display the results
    print(f"Total number of unique awards: {len(awards_df)}")
    display(awards_df)  # In Jupyter notebooks
    
    # If you're not in a Jupyter notebook, use:
    # print(f"Total number of unique awards: {len(awards_df)}")
    # print(awards_df)
    
except Exception as e:
    print(f"Error: {e}")

Total number of unique awards: 114

                                         award  count
0                                    Directing    429
1                                 Film Editing    410
2                 Actress in a Supporting Role    400
3                   Actor in a Supporting Role    400
4                  Documentary (Short Subject)    348
..                                         ...    ...
109               Directing (Dramatic Picture)      3
110        Special Foreign Language Film Award      2
111                 Directing (Comedy Picture)      2
112  Special Achievement Award (Sound Effects)      1
113  Special Achievement Award (Sound Editing)      1

[114 rows x 2 columns]

In [38]:
import sqlite3
import pandas as pd

def search_movies_by_title_keyword(db_path: str, keyword: str):
    try:
        # Connect to the SQLite database
        conn = sqlite3.connect(db_path)
        
        # Use pandas to read SQL query directly into a DataFrame
        # Using LIKE with % wildcards to find the keyword anywhere in the title
        query = f"""
        SELECT movie_id, title, release_date
        FROM movies
        WHERE title LIKE '%{keyword}%'
        ORDER BY release_date
        """
        df = pd.read_sql_query(query, conn)
        
        # Close the connection
        conn.close()
        
        return df
        
    except sqlite3.Error as e:
        print(f"Database error: {e}")
        if 'conn' in locals() and conn:
            conn.close()
        raise

# Search for movies with "Spider" in the title
db_path = "TMDB-a-4006 (1).db"
try:
    # Get movies with "Spider" in the title
    spider_movies = search_movies_by_title_keyword(db_path, "Spider")
    
    # Display the count and the results
    print(f"Number of movies containing 'Spider' in the title: {len(spider_movies)}")
    display(spider_movies)  # In Jupyter notebooks
    
    # If you're not in a Jupyter notebook, use:
    # print(f"Number of movies containing 'Spider' in the title: {len(spider_movies)}")
    # print(spider_movies)
    
except Exception as e:
    print(f"Error: {e}")

Number of movies containing 'Spider' in the title: 9

   movie_id                      title                release_date
0     30315     Kingdom of the Spiders  1977-08-24 00:00:00.000000
1      2043        Along Came a Spider  2001-04-06 00:00:00.000000
2       557                 Spider-Man  2002-05-01 00:00:00.000000
3      9613                     Spider  2002-12-13 00:00:00.000000
4       558               Spider-Man 2  2004-06-25 00:00:00.000000
5       559               Spider-Man 3  2007-05-01 00:00:00.000000
6      8204  The Spiderwick Chronicles  2008-02-14 00:00:00.000000
7      1930     The Amazing Spider-Man  2012-06-27 00:00:00.000000
8    102382   The Amazing Spider-Man 2  2014-04-16 00:00:00.000000

In [74]:
#Q5. How many movies are there that are both in the "Thriller" genre and contain the word “love” anywhere in the keywords?
import sqlite3
import pandas as pd

def search_movies_by_genre_and_keyword(db_path: str, genre: str, keyword: str):
    try:
        # Connect to the SQLite database
        conn = sqlite3.connect(db_path)
        
        # Use pandas to read SQL query directly into a DataFrame
        query = f"""
        SELECT COUNT(DISTINCT m.movie_id) AS thriller_love_movies
FROM movies m
JOIN genremap gm ON m.movie_id = gm.movie_id
JOIN genres g ON gm.genre_id = g.genre_id
JOIN keywordmap km ON m.movie_id = km.movie_id
JOIN keywords k ON km.keyword_id = k.keyword_id
WHERE g.genre_name = 'Thriller'
  AND LOWER(k.keyword_name) LIKE '%love%';



        """
        df = pd.read_sql_query(query, conn)
        
        # Close the connection
        conn.close()
        
        return df
        
    except sqlite3.Error as e:
        print(f"Database error: {e}")
        if 'conn' in locals() and conn:
            conn.close()
        raise

# Search for Thriller movies with "love" in keywords
db_path = "TMDB-a-4006 (1).db"
try:
    # Get movies that are Thrillers and have "love" in keywords
    thriller_love_movies = search_movies_by_genre_and_keyword(db_path, "Thriller", "love")
    
    # Display the count and the results
    print(f"Number of Thriller movies with 'love' in keywords: {len(thriller_love_movies)}")
    display(thriller_love_movies)  # In Jupyter notebooks
    
    # If you're not in a Jupyter notebook, use:
    # print(f"Number of Thriller movies with 'love' in keywords: {len(thriller_love_movies)}")
    # print(thriller_love_movies)
    
except Exception as e:
    print(f"Error: {e}")

Number of Thriller movies with 'love' in keywords: 1

   thriller_love_movies
0                    48

In [75]:
# Q6. How many movies are there that were released between 1 August 2006 ('2006-08-01') and 1 October 2009 ('2009-10-01') that have a popularity score of more than 40 and a budget of less than 50 000 000?

import sqlite3
import pandas as pd

def search_movies_by_genre_and_keyword(db_path: str, genre: str, keyword: str):
    try:
        # Connect to the SQLite database
        conn = sqlite3.connect(db_path)
        
        # Use pandas to read SQL query directly into a DataFrame
        query = f"""
       SELECT COUNT(*) AS matching_movies
FROM movies
WHERE release_date BETWEEN '2006-08-01' AND '2009-10-01'
  AND popularity > 40
  AND budget < 50000000;

        """
        df = pd.read_sql_query(query, conn)
        
        # Close the connection
        conn.close()
        
        return df
        
    except sqlite3.Error as e:
        print(f"Database error: {e}")
        if 'conn' in locals() and conn:
            conn.close()
        raise

# Search for Thriller movies with "love" in keywords
db_path = "TMDB-a-4006 (1).db"
try:
    # Get movies that are Thrillers and have "love" in keywords
    thriller_love_movies = search_movies_by_genre_and_keyword(db_path, "Thriller", "love")
    
    # Display the count and the results
    print(f"movies that were released between 1 August 2006 ('2006-08-01') and 1 October 2009 ('2009-10-01') that have a popularity score of more than 40 and a budget of less than 50 000 000 {len(thriller_love_movies)}")
    display(thriller_love_movies)  # In Jupyter notebooks
    
    # If you're not in a Jupyter notebook, use:
    # print(f"Number of Thriller movies with 'love' in keywords: {len(thriller_love_movies)}")
    # print(thriller_love_movies)
    
except Exception as e:
    print(f"Error: {e}")

movies that were released between 1 August 2006 ('2006-08-01') and 1 October 2009 ('2009-10-01') that have a popularity score of more than 40 and a budget of less than 50 000 000 1

   matching_movies
0               29

In [76]:
# Q7. How many unique characters has "Vin Diesel" played so far in the database?

import sqlite3
import pandas as pd

def search_movies_by_genre_and_keyword(db_path: str, genre: str, keyword: str):
    try:
        # Connect to the SQLite database
        conn = sqlite3.connect(db_path)
        
        # Use pandas to read SQL query directly into a DataFrame
        query = f"""
       SELECT COUNT(DISTINCT c.movie_id) AS unique_movies
FROM casts c
JOIN actors a ON c.actor_id = a.actor_id
WHERE a.actor_name = 'Vin Diesel';


        """
        df = pd.read_sql_query(query, conn)
        
        # Close the connection
        conn.close()
        
        return df
        
    except sqlite3.Error as e:
        print(f"Database error: {e}")
        if 'conn' in locals() and conn:
            conn.close()
        raise

# Search for Thriller movies with "love" in keywords
db_path = "TMDB-a-4006 (1).db"
try:
    # Get movies that are Thrillers and have "love" in keywords
    thriller_love_movies = search_movies_by_genre_and_keyword(db_path, "Thriller", "love")
    
    # Display the count and the results
    print(f"How many unique characters has Vin Diesel played so far in the database?{len(thriller_love_movies)}")
    display(thriller_love_movies)  # In Jupyter notebooks
    
    # If you're not in a Jupyter notebook, use:
    # print(f"Number of Thriller movies with 'love' in keywords: {len(thriller_love_movies)}")
    # print(thriller_love_movies)
    
except Exception as e:
    print(f"Error: {e}")

How many unique characters has Vin Diesel played so far in the database?1

   unique_movies
0             19

In [77]:
# Q8. What are the genres of the movie “The Royal Tenenbaums”?



import sqlite3
import pandas as pd

def search_movies_by_genre_and_keyword(db_path: str, genre: str, keyword: str):
    try:
        # Connect to the SQLite database
        conn = sqlite3.connect(db_path)
        
        # Use pandas to read SQL query directly into a DataFrame
        query = f"""
SELECT g.genre_name
FROM movies m
JOIN genremap gm ON m.movie_id = gm.movie_id
JOIN genres g ON gm.genre_id = g.genre_id
WHERE m.title = 'The Royal Tenenbaums';
"""
        df = pd.read_sql_query(query, conn)
        
        # Close the connection
        conn.close()
        
        return df
        
    except sqlite3.Error as e:
        print(f"Database error: {e}")
        if 'conn' in locals() and conn:
            conn.close()
        raise

# Search for Thriller movies with "love" in keywords
db_path = "TMDB-a-4006 (1).db"
try:
    # Get movies that are Thrillers and have "love" in keywords
    thriller_love_movies = search_movies_by_genre_and_keyword(db_path, "Thriller", "love")
    
    # Display the count and the results
    print(f" the genres of the movie “The Royal Tenenbaums” is{len(thriller_love_movies)}")
    display(thriller_love_movies)  # In Jupyter notebooks
    
    # If you're not in a Jupyter notebook, use:
    # print(f"Number of Thriller movies with 'love' in keywords: {len(thriller_love_movies)}")
    # print(thriller_love_movies)
    
except Exception as e:
    print(f"Error: {e}")

 the genres of the movie “The Royal Tenenbaums” is2

  genre_name
0      Drama
1     Comedy

In [78]:
# Q9. What are the three production companies that have the highest movie popularity score on average, as recorded within the database?



import sqlite3
import pandas as pd

def search_movies_by_genre_and_keyword(db_path: str, genre: str, keyword: str):
    try:
        # Connect to the SQLite database
        conn = sqlite3.connect(db_path)
        
        # Use pandas to read SQL query directly into a DataFrame
        query = f"""
SELECT pc.production_company_name, AVG(m.popularity) AS avg_popularity
FROM movies m
JOIN productioncompanymap pcm ON m.movie_id = pcm.movie_id
JOIN productioncompanies pc ON pcm.production_company_id = pc.production_company_id
GROUP BY pc.production_company_name
ORDER BY avg_popularity DESC
LIMIT 3;

"""
        df = pd.read_sql_query(query, conn)
        
        # Close the connection
        conn.close()
        
        return df
        
    except sqlite3.Error as e:
        print(f"Database error: {e}")
        if 'conn' in locals() and conn:
            conn.close()
        raise

# Search for Thriller movies with "love" in keywords
db_path = "TMDB-a-4006 (1).db"
try:
    # Get movies that are Thrillers and have "love" in keywords
    thriller_love_movies = search_movies_by_genre_and_keyword(db_path, "Thriller", "love")
    
    # Display the count and the results
    print(f" the three production companies that have the highest movie popularity score on average, as recorded within the database are:{len(thriller_love_movies)}")
    display(thriller_love_movies)  # In Jupyter notebooks
    
    # If you're not in a Jupyter notebook, use:
    # print(f"Number of Thriller movies with 'love' in keywords: {len(thriller_love_movies)}")
    # print(thriller_love_movies)
    
except Exception as e:
    print(f"Error: {e}")

 the three production companies that have the highest movie popularity score on average, as recorded within the database are:3

  production_company_name  avg_popularity
0    The Donners' Company      514.569956
1       Bulletproof Cupid      481.098624
2           Kinberg Genre      326.920999

In [82]:
#Q10. How many female actors (i.e. gender = 1) have a name that starts with the letter "N"?



import sqlite3
import pandas as pd

def search_movies_by_genre_and_keyword(db_path: str, genre: str, keyword: str):
    try:
        # Connect to the SQLite database
        conn = sqlite3.connect(db_path)
        
        # Use pandas to read SQL query directly into a DataFrame
        query = f"""
SELECT COUNT(*) AS female_actors_with_n
FROM actors
WHERE gender = 1
  AND actor_name LIKE 'N%';


"""
        df = pd.read_sql_query(query, conn)
        
        # Close the connection
        conn.close()
        
        return df
        
    except sqlite3.Error as e:
        print(f"Database error: {e}")
        if 'conn' in locals() and conn:
            conn.close()
        raise

# Search for Thriller movies with "love" in keywords
db_path = "TMDB-a-4006 (1).db"
try:
    # Get movies that are Thrillers and have "love" in keywords
    thriller_love_movies = search_movies_by_genre_and_keyword(db_path, "Thriller", "love")
    
    # Display the count and the results
    print(f" female actors (i.e. gender = 1) that have a name that starts with the letter N {len(thriller_love_movies)}")
    display(thriller_love_movies)  # In Jupyter notebooks
    
    # If you're not in a Jupyter notebook, use:
    # print(f"Number of Thriller movies with 'love' in keywords: {len(thriller_love_movies)}")
    # print(thriller_love_movies)
    
except Exception as e:
    print(f"Error: {e}")

 female actors (i.e. gender = 1) that have a name that starts with the letter N 1

   female_actors_with_n
0                   355

In [83]:
#Q11.Which genre has, on average, the lowest movie popularity score?

import sqlite3
import pandas as pd

def search_movies_by_genre_and_keyword(db_path: str, genre: str, keyword: str):
    try:
        # Connect to the SQLite database
        conn = sqlite3.connect(db_path)
        
        # Use pandas to read SQL query directly into a DataFrame
        query = f"""
SELECT g.genre_name, AVG(m.popularity) AS avg_popularity
FROM movies m
JOIN genremap gm ON m.movie_id = gm.movie_id
JOIN genres g ON gm.genre_id = g.genre_id
GROUP BY g.genre_name
ORDER BY avg_popularity ASC
LIMIT 1;

"""
        df = pd.read_sql_query(query, conn)
        
        # Close the connection
        conn.close()
        
        return df
        
    except sqlite3.Error as e:
        print(f"Database error: {e}")
        if 'conn' in locals() and conn:
            conn.close()
        raise

# Search for Thriller movies with "love" in keywords
db_path = "TMDB-a-4006 (1).db"
try:
    # Get movies that are Thrillers and have "love" in keywords
    thriller_love_movies = search_movies_by_genre_and_keyword(db_path, "Thriller", "love")
    
    # Display the count and the results
    print(f" the three production companies that have the highest movie popularity score on average, as recorded within the database are:{len(thriller_love_movies)}")
    display(thriller_love_movies)  # In Jupyter notebooks
    
    # If you're not in a Jupyter notebook, use:
    # print(f"Number of Thriller movies with 'love' in keywords: {len(thriller_love_movies)}")
    # print(thriller_love_movies)
    
except Exception as e:
    print(f"Error: {e}")

 the three production companies that have the highest movie popularity score on average, as recorded within the database are:1

  genre_name  avg_popularity
0    Foreign        0.686787

In [86]:
#Q11.Which award category has the highest number of actor nominations (actors can be male or female)? (Hint Oscars.name contains both actors names and film names)



import sqlite3
import pandas as pd

def search_movies_by_genre_and_keyword(db_path: str, genre: str, keyword: str):
    try:
        # Connect to the SQLite database
        conn = sqlite3.connect(db_path)
        
        # Use pandas to read SQL query directly into a DataFrame
        query = f"""
SELECT award, COUNT(*) AS nomination_count 
FROM oscars
WHERE award LIKE '%Actor%' OR award LIKE '%Actress%' 
GROUP BY award 
ORDER BY nomination_count DESC 
LIMIT 1;



"""
        df = pd.read_sql_query(query, conn)
        
        # Close the connection
        conn.close()
        
        return df
        
    except sqlite3.Error as e:
        print(f"Database error: {e}")
        if 'conn' in locals() and conn:
            conn.close()
        raise

# Search for Thriller movies with "love" in keywords
db_path = "TMDB-a-4006 (1).db"
try:
    # Get movies that are Thrillers and have "love" in keywords
    thriller_love_movies = search_movies_by_genre_and_keyword(db_path, "Thriller", "love")
    
    # Display the count and the results
    print(f" award category that has the highest number of actor nominations:{len(thriller_love_movies)}")
    display(thriller_love_movies)  # In Jupyter notebooks
    
    # If you're not in a Jupyter notebook, use:
    # print(f"Number of Thriller movies with 'love' in keywords: {len(thriller_love_movies)}")
    # print(thriller_love_movies)
    
except Exception as e:
    print(f"Error: {e}")

 award category that has the highest number of actor nominations:1

                          award  nomination_count
0  Actress in a Supporting Role               400